@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  background-color: black;
  background-image: url("../../public//icons//background .svg");
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

h5 {
  font-weight: normal;
}

h6 {
  font-weight: normal;
}

.error {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #24ff00;
}

.notfind-page {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem 1rem;
}
.notfind-page .notfind {
  color: white;
  text-align: center;
  font-size: 5rem;
}
.notfind-page .small {
  padding-top: 1.5rem;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

@media screen and (max-width: 821px) {
  .notfind-page .notfind {
    font-size: 3rem;
  }
  .notfind-page .small {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 392px) {
  .notfind-page .notfind {
    font-size: 2.5rem;
  }
  .notfind-page .small {
    font-size: 1.1rem;
  }
}
/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-8bits,
.la-ball-8bits > div {
  position: relative;
  box-sizing: border-box;
}

.la-ball-8bits {
  display: block;
  font-size: 0;
  color: #fff;
}

.la-ball-8bits.la-dark {
  color: #333;
}

.la-ball-8bits > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.la-ball-8bits {
  width: 12px;
  height: 12px;
}

.la-ball-8bits > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 0;
  opacity: 0;
  transform: translate(100%, 100%);
  -webkit-animation: ball-8bits 1s 0s ease infinite;
  animation: ball-8bits 1s 0s ease infinite;
}

.la-ball-8bits > div:nth-child(1) {
  -webkit-animation-delay: -0.9375s;
  animation-delay: -0.9375s;
}

.la-ball-8bits > div:nth-child(2) {
  -webkit-animation-delay: -0.875s;
  animation-delay: -0.875s;
}

.la-ball-8bits > div:nth-child(3) {
  -webkit-animation-delay: -0.8125s;
  animation-delay: -0.8125s;
}

.la-ball-8bits > div:nth-child(4) {
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}

.la-ball-8bits > div:nth-child(5) {
  -webkit-animation-delay: -0.6875s;
  animation-delay: -0.6875s;
}

.la-ball-8bits > div:nth-child(6) {
  -webkit-animation-delay: -0.625s;
  animation-delay: -0.625s;
}

.la-ball-8bits > div:nth-child(7) {
  -webkit-animation-delay: -0.5625s;
  animation-delay: -0.5625s;
}

.la-ball-8bits > div:nth-child(8) {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.la-ball-8bits > div:nth-child(9) {
  -webkit-animation-delay: -0.4375s;
  animation-delay: -0.4375s;
}

.la-ball-8bits > div:nth-child(10) {
  -webkit-animation-delay: -0.375s;
  animation-delay: -0.375s;
}

.la-ball-8bits > div:nth-child(11) {
  -webkit-animation-delay: -0.3125s;
  animation-delay: -0.3125s;
}

.la-ball-8bits > div:nth-child(12) {
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}

.la-ball-8bits > div:nth-child(13) {
  -webkit-animation-delay: -0.1875s;
  animation-delay: -0.1875s;
}

.la-ball-8bits > div:nth-child(14) {
  -webkit-animation-delay: -0.125s;
  animation-delay: -0.125s;
}

.la-ball-8bits > div:nth-child(15) {
  -webkit-animation-delay: -0.0625s;
  animation-delay: -0.0625s;
}

.la-ball-8bits > div:nth-child(16) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.la-ball-8bits > div:nth-child(1) {
  top: -100%;
  left: 0;
}

.la-ball-8bits > div:nth-child(2) {
  top: -100%;
  left: 33.3333333333%;
}

.la-ball-8bits > div:nth-child(3) {
  top: -66.6666666667%;
  left: 66.6666666667%;
}

.la-ball-8bits > div:nth-child(4) {
  top: -33.3333333333%;
  left: 100%;
}

.la-ball-8bits > div:nth-child(5) {
  top: 0;
  left: 100%;
}

.la-ball-8bits > div:nth-child(6) {
  top: 33.3333333333%;
  left: 100%;
}

.la-ball-8bits > div:nth-child(7) {
  top: 66.6666666667%;
  left: 66.6666666667%;
}

.la-ball-8bits > div:nth-child(8) {
  top: 100%;
  left: 33.3333333333%;
}

.la-ball-8bits > div:nth-child(9) {
  top: 100%;
  left: 0;
}

.la-ball-8bits > div:nth-child(10) {
  top: 100%;
  left: -33.3333333333%;
}

.la-ball-8bits > div:nth-child(11) {
  top: 66.6666666667%;
  left: -66.6666666667%;
}

.la-ball-8bits > div:nth-child(12) {
  top: 33.3333333333%;
  left: -100%;
}

.la-ball-8bits > div:nth-child(13) {
  top: 0;
  left: -100%;
}

.la-ball-8bits > div:nth-child(14) {
  top: -33.3333333333%;
  left: -100%;
}

.la-ball-8bits > div:nth-child(15) {
  top: -66.6666666667%;
  left: -66.6666666667%;
}

.la-ball-8bits > div:nth-child(16) {
  top: -100%;
  left: -33.3333333333%;
}

.la-ball-8bits.la-sm {
  width: 6px;
  height: 6px;
}

.la-ball-8bits.la-sm > div {
  width: 2px;
  height: 2px;
}

.la-ball-8bits.la-2x {
  width: 24px;
  height: 24px;
}

.la-ball-8bits.la-2x > div {
  width: 8px;
  height: 8px;
}

.la-ball-8bits.la-3x {
  width: 36px;
  height: 36px;
}

.la-ball-8bits.la-3x > div {
  width: 12px;
  height: 12px;
}

.loading-box {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

/*
  * Animation
  */
@-webkit-keyframes ball-8bits {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
}
@keyframes ball-8bits {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
}
.home {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin: 2rem 1rem;
}
.home .title {
  width: 50%;
  margin: 1rem;
  font-size: 1.1rem;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 20px;
  box-shadow: 0px 0px 20px white;
}
.home .title .big {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: white;
  text-shadow: 1.5px 1.5px 0px #f68500;
}
.home .down-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home .down-box .entrance {
  margin: 4rem;
  font-size: 1.1rem;
  text-align: center;
  padding: 1rem;
  border-radius: 30px;
  background-color: #f68500;
  cursor: pointer;
  transition: all 0.2s ease;
}
.home .down-box .entrance:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px #f68500, 0px 0px 20px #f68500;
}

@media screen and (max-width: 950px) {
  .home .title {
    width: 80%;
  }
}
@media screen and (max-width: 612px) {
  .home .title {
    width: 90%;
    margin: 0rem;
    padding: 3rem 0.75rem;
  }
  .home .title .big {
    font-size: 1.5rem;
    text-shadow: 1px 1px 0px #f68500;
  }
  .home .title .subtitle {
    font-size: 1rem;
  }
}
@media screen and (max-width: 338px) {
  .home .title {
    width: 90%;
  }
  .home .title .big {
    font-size: 1.5rem;
  }
  .home .title .subtitle {
    font-size: 0.9rem;
  }
  .home .down-box .entrance {
    margin: 4rem 2.5rem;
    font-size: 0.9rem;
  }
}
.help {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
}
.help .help-box {
  margin-top: 1.5rem;
  width: 80%;
  padding: 1rem;
  border-radius: 20px;
  background-color: #1f1f1f;
}
.help .help-box h1 {
  padding-bottom: 0.5rem;
  color: #24ff00;
  font-size: 1.75rem;
  border-bottom: 1px solid white;
}
.help .help-box div {
  padding-top: 0.5rem;
}
.help .help-box div p {
  font-size: 1rem;
  padding: 0.5rem 0rem;
}
.help .help-box div .infor-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.help .help-box div .infor-box div {
  margin-right: 1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.help .help-box div .infor-box .white {
  background-color: white;
}
.help .help-box div .infor-box .safe {
  background-color: #24ff00;
}
.help .help-box div .infor-box .warn {
  background-color: #f68500;
}
.help .help-box div .infor-box .dangerous {
  background-color: #ef3737;
}

@media screen and (max-width: 545px) {
  .help .help-box {
    width: 90%;
  }
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}
nav ul {
  width: 100%;
  margin: 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul .left li a {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul .left li a img {
  width: 80px;
}
nav ul .right {
  display: flex;
}
nav ul .right li {
  margin: 0rem 0.25rem;
}
nav ul .right li a {
  padding: 0.65rem 0.45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav ul .right li a img {
  width: 22px;
  height: 22px;
}
nav ul .right li a p {
  margin-top: 0.25rem;
  font-size: 12px;
}

@media screen and (max-width: 465px) {
  nav ul {
    margin: 0rem 1.5rem;
  }
  nav ul .left li a img {
    width: 70px;
  }
  nav ul .right li {
    margin: 0rem 0.15rem;
  }
  nav ul .right li a {
    padding: 0.5rem 0.35rem;
  }
}
@media screen and (max-width: 350px) {
  nav ul {
    margin: 0rem 1.5rem;
  }
  nav ul .left li a img {
    width: 60px;
  }
  nav ul .right li {
    margin: 0rem 0.15rem;
  }
  nav ul .right li a {
    padding: 0.5rem 0.5rem;
  }
  nav ul .right li a img {
    width: 18px;
    height: 18px;
  }
  nav ul .right li a p {
    visibility: hidden;
    font-size: 0;
    margin-top: 0rem;
  }
}
.register {
  color: white;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register .register-box {
  border-radius: 30px;
  background-color: #1f1f1f;
  width: 450px;
}
.register .register-box .register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 3rem;
}
.register .register-box .register-container .title {
  margin-bottom: 2rem;
}
.register .register-box .register-container .title h1 {
  font-size: 2.75rem;
  color: #f68500;
}
.register .register-box .register-container .username {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.register .register-box .register-container .username p {
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
}
.register .register-box .register-container .username input {
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
}
.register .register-box .register-container .password {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.register .register-box .register-container .password p {
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
}
.register .register-box .register-container .password input {
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
}
.register .register-box .register-container .password input::-ms-reveal {
  filter: invert(100%);
}
.register .register-box .register-container .button {
  margin-top: 3rem;
}
.register .register-box .register-container .button button {
  font-size: 1.5rem;
  border: none;
  background-color: #f68500;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .register .register-box {
    width: 90%;
  }
  .register .register-box .register-container {
    padding: 3rem 1rem;
  }
  .register .register-box .register-container .title h1 {
    font-size: 2rem;
  }
}
.login {
  color: white;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .login-box {
  border-radius: 30px;
  background-color: #1f1f1f;
  width: 450px;
}
.login .login-box .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 3rem;
}
.login .login-box .login-container .title {
  margin-bottom: 2rem;
}
.login .login-box .login-container .title h1 {
  font-size: 2.75rem;
  color: #f68500;
}
.login .login-box .login-container .username {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login .login-box .login-container .username p {
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
}
.login .login-box .login-container .username input {
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
}
.login .login-box .login-container .password {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login .login-box .login-container .password p {
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
}
.login .login-box .login-container .password input {
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
}
.login .login-box .login-container .password input::-ms-reveal {
  filter: invert(100%);
}
.login .login-box .login-container .button {
  margin-top: 3rem;
}
.login .login-box .login-container .button button {
  font-size: 1.5rem;
  border: none;
  background-color: #f68500;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .login .login-box {
    width: 90%;
  }
  .login .login-box .login-container {
    padding: 3rem 1rem;
  }
  .login .login-box .login-container .title h1 {
    font-size: 2rem;
  }
}
.forum {
  min-height: 90vh;
}
.forum .tab-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.forum .tab-bar ul {
  padding: 1rem 1rem;
  width: 80%;
  display: flex;
}
.forum .tab-bar ul li {
  cursor: pointer;
  margin-right: 1.5rem;
}
.forum .tab-bar ul li div {
  justify-content: center;
  display: flex;
  align-items: center;
}
.forum .tab-bar ul li div .circle {
  margin-right: 0.25rem;
  width: 20px;
  height: 20px;
  border-radius: 100px;
}
.forum .tab-bar ul li div .red {
  background-color: #ef3737;
}
.forum .tab-bar ul li div .yellow {
  background-color: #f68500;
}
.forum .tab-bar ul li div .green {
  background-color: #24ff00;
}
.forum .tab-bar ul li div p {
  color: white;
  font-size: 1.35rem;
}
.forum .tab-bar ul li div .active {
  color: #f68500;
}
.forum .allpost {
  display: flex;
  flex-direction: column-reverse;
}
.forum .allpost .nopost {
  margin-top: 1rem;
  font-size: 1.1rem;
  text-align: center;
  color: #24ff00;
}
.forum .newpost-button {
  position: fixed;
  right: 5%;
  bottom: 5%;
}
.forum .newpost-button .button {
  z-index: 10;
}
.forum .newpost-button .button p {
  cursor: pointer;
  background-color: #f68500;
  color: white;
  transform: rotate(90deg);
  font-size: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 100%;
}
.forum .newpost-button .button p:hover {
  background-color: #ef3737;
}
.forum .newpost {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.forum .newpost .newpost-box {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.forum .newpost .newpost-box .newpost-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 80%;
  padding: 2rem 2rem;
  border-radius: 30px;
  background-color: #1f1f1f;
}
.forum .newpost .newpost-box .newpost-container .new h1 {
  text-align: center;
  font-size: 2rem;
  color: #f68500;
}
.forum .newpost .newpost-box .newpost-container .title input {
  border: none;
  outline: none;
  color: white;
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid white;
  white-space: pre-wrap;
  word-break: break-all;
}
.forum .newpost .newpost-box .newpost-container .textarea textarea {
  width: 100%;
  height: 50vh;
  border: none;
  outline: none;
  color: white;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  font-size: 1.1rem;
  resize: none;
  white-space: pre-wrap;
  word-break: break-all;
  -ms-word-break: break-all;
}
.forum .newpost .newpost-box .newpost-container .textarea textarea::-webkit-scrollbar {
  width: 0px;
}
.forum .newpost .newpost-box .newpost-container .button {
  display: flex;
  justify-content: space-around;
}
.forum .newpost .newpost-box .newpost-container .button button {
  border: none;
  font-size: 1.25rem;
  color: white;
  background-color: #f68500;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  cursor: pointer;
}
.forum .newpost .moveBox {
  -webkit-animation: scale 0.4s forwards;
          animation: scale 0.4s forwards;
}

@-webkit-keyframes scale {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 601px) {
  .forum .tab-bar ul li {
    margin-right: 0.75rem;
  }
  .forum .tab-bar ul li div .circle {
    margin-right: 0.1rem;
    width: 15px;
    height: 15px;
  }
  .forum .tab-bar ul li div p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 545px) {
  .forum .tab-bar ul {
    width: 90%;
  }
  .forum .newpost .newpost-box .newpost-container {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .forum .tab-bar ul {
    justify-content: space-between;
  }
  .forum .tab-bar ul li {
    margin-right: 0.25rem;
  }
  .forum .tab-bar ul li div .circle {
    margin-right: 0.1rem;
    width: 14px;
    height: 14px;
  }
  .forum .tab-bar ul li div p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 376px) {
  .forum .newpost .newpost-box .newpost-container {
    padding: 2rem 0.5rem;
  }
  .forum .newpost .newpost-box .newpost-container .new h1 {
    font-size: 1.5rem;
  }
  .forum .newpost .newpost-box .newpost-container .title input {
    font-size: 1.1rem;
    padding: 0.25rem 0.5rem;
  }
  .forum .newpost .newpost-box .newpost-container .textarea textarea {
    font-size: 0.9rem;
  }
  .forum .newpost .newpost-box .newpost-container .button button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 362px) {
  .forum .tab-bar ul {
    align-items: center;
    flex-wrap: wrap;
  }
  .forum .tab-bar ul li {
    margin-right: 0.4rem;
  }
  .forum .tab-bar ul li div {
    display: flex;
    flex-direction: column;
  }
  .forum .tab-bar ul li div .circle {
    margin-right: 0.25rem;
    width: 10px;
    height: 10px;
  }
  .forum .tab-bar ul li div p {
    font-size: 0.7rem;
  }
}
.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.posts .posts-box {
  margin-bottom: 1rem;
  cursor: pointer;
  width: 80%;
  padding: 0.75rem 1rem;
  border-radius: 20px;
  background-color: #1f1f1f;
}
.posts .posts-box .posts-container {
  display: flex;
  justify-content: space-between;
}
.posts .posts-box .posts-container .left {
  width: 80%;
}
.posts .posts-box .posts-container .left .up {
  display: flex;
  align-items: center;
}
.posts .posts-box .posts-container .left .up .username {
  padding-right: 0.5rem;
  font-size: 1rem;
  color: #24ff00;
}
.posts .posts-box .posts-container .left .up .date {
  font-size: 0.85rem;
  color: rgb(203, 203, 203);
}
.posts .posts-box .posts-container .left h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 1.25rem;
  color: white;
}
.posts .posts-box .posts-container .right {
  display: flex;
  align-items: center;
}
.posts .posts-box .posts-container .right .message {
  padding: 0rem 0.25rem;
  font-size: 0.9rem;
  color: #ffe600;
}
.posts .posts-box .posts-container .right .circle {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: white;
}

@media screen and (max-width: 560px) {
  .posts .posts-box .posts-container .left {
    width: 70%;
  }
  .posts .posts-box .posts-container .left .up .username {
    font-size: 0.9rem;
  }
  .posts .posts-box .posts-container .left .up .date {
    font-size: 0.7rem;
  }
  .posts .posts-box .posts-container .left h1 {
    font-size: 1rem;
  }
  .posts .posts-box .posts-container .right .message {
    font-size: 0.85rem;
  }
  .posts .posts-box .posts-container .right .circle {
    width: 15px;
    height: 15px;
  }
}
@media screen and (max-width: 545px) {
  .posts .posts-box {
    width: 90%;
  }
}
.profile .tab-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile .tab-bar ul {
  padding: 1rem 0rem;
  width: 80%;
  display: flex;
}
.profile .tab-bar ul .active {
  color: #f68500;
}
.profile .tab-bar ul li {
  font-size: 1.35rem;
  color: white;
  cursor: pointer;
  margin-right: 1.5rem;
  display: flex;
}
.profile .tab-bar ul li p {
  margin-right: 0.5rem;
  font-size: 1.35rem;
  color: #ffe600;
}
.profile .myprofile .myprofile-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile .myprofile .myprofile-box .myprofile-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}
.profile .myprofile .myprofile-box .myprofile-container table {
  margin: 2rem 0rem;
}
.profile .myprofile .myprofile-box .myprofile-container table tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1rem 0rem;
  border-bottom: 1px solid white;
}
.profile .myprofile .myprofile-box .myprofile-container table tbody td {
  font-size: 1.1rem;
  white-space: pre-wrap;
  word-break: break-all;
}
.profile .myprofile .myprofile-box .myprofile-container table tbody th {
  width: 115px;
  padding-right: 1rem;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
}
.profile .myprofile .myprofile-box .myprofile-container .edit-button {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.profile .myprofile .myprofile-box .myprofile-container .edit-button button {
  cursor: pointer;
  border: none;
  background-color: #f68500;
  color: white;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  border-radius: 30px;
}
.profile .mypost {
  display: flex;
  flex-direction: column-reverse;
}
.profile .mypost .nopost {
  margin-top: 1rem;
  font-size: 1.1rem;
  text-align: center;
  color: #24ff00;
}
.profile .editPage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.profile .editPage .moveBox {
  -webkit-animation: scale 0.4s forwards;
          animation: scale 0.4s forwards;
}
.profile .editPage .editPage-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.profile .editPage .editPage-box .editPage-container {
  border-radius: 30px;
  background-color: #1f1f1f;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 3rem;
}
.profile .editPage .editPage-box .editPage-container .title {
  margin-bottom: 2rem;
}
.profile .editPage .editPage-box .editPage-container .title h1 {
  font-size: 2.75rem;
  color: #f68500;
}
.profile .editPage .editPage-box .editPage-container .username {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}
.profile .editPage .editPage-box .editPage-container .username p {
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
}
.profile .editPage .editPage-box .editPage-container .username input {
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
}
.profile .editPage .editPage-box .editPage-container .password {
  color: white;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profile .editPage .editPage-box .editPage-container .password p {
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
}
.profile .editPage .editPage-box .editPage-container .password input {
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
}
.profile .editPage .editPage-box .editPage-container .password input::-ms-reveal {
  filter: invert(100%);
}
.profile .editPage .editPage-box .editPage-container .button {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.profile .editPage .editPage-box .editPage-container .button button {
  font-size: 1.5rem;
  border: none;
  background-color: #f68500;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  cursor: pointer;
}

@media screen and (max-width: 615px) {
  .profile .tab-bar ul {
    justify-content: space-around;
  }
  .profile .tab-bar ul li {
    margin-right: 1rem;
    font-size: 1.1rem;
  }
  .profile .tab-bar ul li p {
    font-size: 1.1rem;
  }
  .profile .myprofile .myprofile-box .myprofile-container table tbody tr {
    display: flex;
    flex-wrap: wrap;
  }
  .profile .myprofile .myprofile-box .myprofile-container table tbody tr th {
    font-size: 0.9rem;
    padding-right: 0.25rem;
  }
  .profile .myprofile .myprofile-box .myprofile-container table tbody tr td {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 550px) {
  .profile .editPage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile .editPage .editPage-box .editPage-container {
    width: 90vw;
    padding: 3rem 1rem;
  }
  .profile .editPage .editPage-box .editPage-container .title h1 {
    font-size: 2rem;
  }
  .profile .editPage .editPage-box .editPage-container .button button {
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem;
  }
  .profile .myprofile .myprofile-box .myprofile-container {
    width: 90%;
  }
}
.postpage {
  min-height: 90vh;
}
.postpage .article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.postpage .article .article-box {
  width: 80%;
}
.postpage .article .article-box .edit {
  display: flex;
  align-items: center;
  position: relative;
}
.postpage .article .article-box .edit .edit-button {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  margin: 0.25rem 1rem;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
}
.postpage .article .article-box .edit .notauthor {
  visibility: hidden;
}
.postpage .article .article-box .edit .button {
  position: absolute;
  top: 20px;
  left: 50px;
}
.postpage .article .article-box .edit .button button {
  border: none;
  outline: none;
  color: white;
  background-color: #f68500;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
.postpage .article .article-box .edit .button button:hover {
  background-color: #ef3737;
}
.postpage .article .article-box .edit .button .edit-article {
  border-bottom: 1px solid white;
}
.postpage .article .article-box .article-container {
  border-radius: 20px;
  background-color: #1f1f1f;
  padding: 1rem 1rem;
}
.postpage .article .article-box .article-container .up {
  display: flex;
  justify-content: space-between;
}
.postpage .article .article-box .article-container .up .left .username {
  color: #24ff00;
  font-size: 1rem;
}
.postpage .article .article-box .article-container .up .left .date {
  color: rgb(206, 206, 206);
  font-size: 0.9rem;
}
.postpage .article .article-box .article-container .up .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.postpage .article .article-box .article-container .up .right .average {
  color: #ffe600;
  margin: 0rem 0.5rem;
}
.postpage .article .article-box .article-container .up .right .circle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50px;
}
.postpage .article .article-box .article-container .title h1 {
  font-size: 2rem;
  color: white;
  border-bottom: 1px solid white;
}
.postpage .article .article-box .article-container .content p {
  color: white;
  padding-top: 1rem;
  font-size: 1.1rem;
  white-space: pre-wrap;
  word-break: break-all;
}
.postpage .comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.postpage .comment .comment-box {
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.postpage .comment .comment-box .comment-container .up {
  padding: 0rem 1rem;
  padding-bottom: 1rem;
  display: flex;
}
.postpage .comment .comment-box .comment-container .up .title {
  color: white;
  font-size: 1.25rem;
}
.postpage .comment .comment-box .comment-container .up .number {
  padding: 0rem 3rem;
  color: #ffe600;
  font-size: 1.25rem;
}
.postpage .comment .comment-box .comment-container .input div {
  display: flex;
  align-items: center;
}
.postpage .comment .comment-box .comment-container .input div label {
  font-size: 1.1rem;
  color: white;
}
.postpage .comment .comment-box .comment-container .input div input[type=range] {
  margin-left: 1rem;
  -webkit-appearance: none;
  width: 200px;
  height: 6px;
  outline: none;
  border: none;
  background: none;
  background-color: #5e5e5e;
  border-radius: 30px;
}
.postpage .comment .comment-box .comment-container .input div input[type=range]:active {
  background: #ffffff;
}
.postpage .comment .comment-box .comment-container .input div input[type=range]:active::-webkit-slider-thumb {
  background: #ef3737;
  width: 18px;
  height: 18px;
}
.postpage .comment .comment-box .comment-container .input div input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s; /* 點選放大時候的漸變時間 */
}
.postpage .comment .comment-box .comment-container .input div p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1f1f1f;
  background-color: white;
  margin-left: 1rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 1.1rem;
}
.postpage .comment .comment-box .comment-container .input .text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.postpage .comment .comment-box .comment-container .input .text textarea {
  border: none;
  outline: none;
  background: none;
  resize: none;
  font-size: 1.1rem;
  padding: 0.5rem 0rem;
  color: white;
  border-bottom: 2px solid gray;
  width: 100%;
  height: 40px;
  white-space: pre-wrap;
  word-break: break-all;
}
.postpage .comment .comment-box .comment-container .input .text textarea::-webkit-scrollbar {
  width: 0px;
}
.postpage .comment .comment-box .comment-container .input .text textarea:focus {
  border-bottom: 2px solid white;
}
.postpage .comment .comment-box .comment-container .input .text .error-comment {
  width: 100%;
  text-align: left;
}
.postpage .comment .comment-box .comment-container .input .text .button {
  height: 0vh;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
}
.postpage .comment .comment-box .comment-container .input .text .button button {
  background: none;
  outline: none;
  border: none;
  font-size: 1.1rem;
  border-radius: 10px;
  color: white;
  background-color: #f68500;
  padding: 0.25rem 1rem;
  margin: 0rem 1rem;
  cursor: pointer;
}
.postpage .comment .comment-box .comment-container .input .text textarea:not(:-moz-placeholder-shown) ~ .button {
  opacity: 1;
  margin-top: 1rem;
  height: auto;
}
.postpage .comment .comment-box .comment-container .input .text textarea:not(:-ms-input-placeholder) ~ .button {
  opacity: 1;
  margin-top: 1rem;
  height: auto;
}
.postpage .comment .comment-box .comment-container .input .text textarea:not(:placeholder-shown) ~ .button {
  opacity: 1;
  margin-top: 1rem;
  height: auto;
}
.postpage .comment .messages-wrapper {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.postpage .comment .messages-wrapper .noComment {
  margin-top: 1rem;
  font-size: 1.1rem;
  text-align: center;
  color: #24ff00;
}
.postpage .comment .messages-wrapper .messages-box {
  width: 80%;
  margin: 1rem 0rem;
}
.postpage .comment .messages-wrapper .messages-box .messages-container {
  position: relative;
}
.postpage .comment .messages-wrapper .messages-box .messages-container .up {
  display: flex;
  justify-content: space-between;
}
.postpage .comment .messages-wrapper .messages-box .messages-container .up .left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.postpage .comment .messages-wrapper .messages-box .messages-container .up .left .username {
  margin-right: 0.5rem;
  color: #ffe600;
  font-size: 0.9rem;
}
.postpage .comment .messages-wrapper .messages-box .messages-container .up .left .date {
  color: rgb(206, 206, 206);
  font-size: 0.8rem;
}
.postpage .comment .messages-wrapper .messages-box .messages-container .up .right .editButton {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}
.postpage .comment .messages-wrapper .messages-box .messages-container .up .right .button {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 25px;
}
.postpage .comment .messages-wrapper .messages-box .messages-container .up .right .button button {
  display: flex;
  border: none;
  outline: none;
  color: white;
  background-color: #323232;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.15rem 0.35rem;
}
.postpage .comment .messages-wrapper .messages-box .messages-container .up .right .button button:hover {
  background-color: #ef3737;
}
.postpage .comment .messages-wrapper .messages-box .messages-container .up .right .button .edit-message {
  border-bottom: 1px solid white;
}
.postpage .comment .messages-wrapper .messages-box .messages-container .down {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
.postpage .comment .messages-wrapper .messages-box .messages-container .down .content p {
  font-size: 1.1rem;
  color: white;
  white-space: pre-wrap;
  word-break: break-all;
}
.postpage .comment .messages-wrapper .messages-box .messages-container .down .dangerous p {
  font-size: 1.1rem;
  color: #24ff00;
}
.postpage .editPage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.postpage .editPage .editPage-box {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.postpage .editPage .editPage-box .editPage-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 80%;
  padding: 2rem 2rem;
  border-radius: 30px;
  background-color: #1f1f1f;
}
.postpage .editPage .editPage-box .editPage-container .new h1 {
  text-align: center;
  font-size: 2rem;
  color: #f68500;
}
.postpage .editPage .editPage-box .editPage-container .title input {
  border: none;
  outline: none;
  color: white;
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid white;
  white-space: pre-wrap;
  word-break: break-all;
}
.postpage .editPage .editPage-box .editPage-container .input div {
  display: flex;
  align-items: center;
}
.postpage .editPage .editPage-box .editPage-container .input div label {
  padding-left: 0.5rem;
  font-size: 1.1rem;
  color: white;
}
.postpage .editPage .editPage-box .editPage-container .input div input[type=range] {
  margin-left: 1rem;
  -webkit-appearance: none;
  width: 200px;
  height: 6px;
  outline: none;
  border: none;
  background: none;
  background-color: #5e5e5e;
  border-radius: 30px;
}
.postpage .editPage .editPage-box .editPage-container .input div input[type=range]:active {
  background: #ffffff;
}
.postpage .editPage .editPage-box .editPage-container .input div input[type=range]:active::-webkit-slider-thumb {
  background: #ef3737;
  width: 18px;
  height: 18px;
}
.postpage .editPage .editPage-box .editPage-container .input div input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s; /* 點選放大時候的漸變時間 */
}
.postpage .editPage .editPage-box .editPage-container .input div p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1f1f1f;
  background-color: white;
  margin-left: 1rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 1.1rem;
}
.postpage .editPage .editPage-box .editPage-container .textarea textarea {
  width: 100%;
  height: 50vh;
  border: none;
  outline: none;
  color: white;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  font-size: 1.1rem;
  resize: none;
  white-space: pre-wrap;
  word-break: break-all;
  -ms-word-break: break-all;
}
.postpage .editPage .editPage-box .editPage-container .textarea textarea::-webkit-scrollbar {
  width: 0px;
}
.postpage .editPage .editPage-box .editPage-container .button {
  display: flex;
  justify-content: space-around;
}
.postpage .editPage .editPage-box .editPage-container .button button {
  border: none;
  font-size: 1.25rem;
  color: white;
  background-color: #f68500;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  cursor: pointer;
}
.postpage .editPage .moveBox {
  -webkit-animation: scale 0.4s forwards;
          animation: scale 0.4s forwards;
}
.postpage .deletePage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.postpage .deletePage .deletePage-box {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.postpage .deletePage .deletePage-box .deletePage-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 150px;
  padding: 2rem 2rem;
  border-radius: 30px;
  background-color: #1f1f1f;
}
.postpage .deletePage .deletePage-box .deletePage-container .delete h1 {
  text-align: center;
  font-size: 1.1rem;
  color: white;
}
.postpage .deletePage .deletePage-box .deletePage-container .button {
  display: flex;
  justify-content: space-around;
}
.postpage .deletePage .deletePage-box .deletePage-container .button button {
  border: none;
  font-size: 1rem;
  color: white;
  background-color: #f68500;
  padding: 0.25rem 0.75rem;
  border-radius: 10px;
  cursor: pointer;
}
.postpage .deletePage .moveBox {
  -webkit-animation: scale 0.4s forwards;
          animation: scale 0.4s forwards;
}

@media screen and (max-width: 545px) {
  .postpage .editPage .editPage-box .editPage-container {
    width: 90%;
  }
  .postpage .editPage .editPage-box .editPage-container .input div input[type=range] {
    width: 45%;
    margin-left: 0.25rem;
  }
  .postpage .editPage .editPage-box .editPage-container .input div p {
    height: 28px;
    width: 28px;
    margin-left: 0.25rem;
  }
  .postpage .article .article-box {
    width: 90%;
  }
  .postpage .comment .comment-box {
    width: 90%;
  }
  .postpage .comment .messages-wrapper .messages-box {
    width: 90%;
  }
}
@media screen and (max-width: 440px) {
  .postpage .article .article-box .article-container .title h1 {
    font-size: 1.5rem;
  }
  .postpage .article .article-box .article-container .content P {
    font-size: 1rem;
  }
  .postpage .comment .comment-box .comment-container .up {
    justify-content: space-between;
    padding: 0rem;
    padding-bottom: 1rem;
  }
  .postpage .comment .comment-box .comment-container .up .title {
    font-size: 1.1rem;
  }
  .postpage .comment .comment-box .comment-container .up .number {
    font-size: 1.1rem;
    padding: 0rem 1rem;
  }
  .postpage .comment .comment-box .comment-container .input div {
    display: flex;
    justify-content: space-between;
  }
  .postpage .comment .comment-box .comment-container .input div label {
    font-size: 1rem;
  }
  .postpage .comment .comment-box .comment-container .input div input[type=range] {
    width: 50%;
    margin-left: 0.25rem;
  }
  .postpage .comment .comment-box .comment-container .input div p {
    margin-left: 0.25rem;
    height: 30px;
    width: 30px;
    font-size: 1rem;
  }
  .postpage .comment .comment-box .comment-container .input .text input[type=text] {
    font-size: 1rem;
    padding: 0.5rem 0rem;
    width: 100%;
  }
  .postpage .comment .comment-box .comment-container .input .text .button {
    margin: 0.5rem 0rem;
  }
  .postpage .comment .comment-box .comment-container .input .text .button button {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    margin: 0rem 0.25rem;
  }
  .postpage .comment .messages-wrapper .messages-box .messages-container .down .content p {
    font-size: 1rem;
  }
  .postpage .comment .messages-wrapper .messages-box .messages-container .down .dangerous p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 376px) {
  .postpage .editPage .editPage-box .editPage-container {
    width: 80%;
    padding: 2rem 0.5rem;
  }
  .postpage .editPage .editPage-box .editPage-container .new h1 {
    font-size: 1.5rem;
  }
  .postpage .editPage .editPage-box .editPage-container .title input {
    font-size: 1.1rem;
    padding: 0.25rem 0.5rem;
  }
  .postpage .editPage .editPage-box .editPage-container .input div {
    display: flex;
    justify-content: space-between;
  }
  .postpage .editPage .editPage-box .editPage-container .input div label {
    font-size: 1rem;
  }
  .postpage .editPage .editPage-box .editPage-container .input div input[type=range] {
    width: 40%;
    margin-left: 0rem;
  }
  .postpage .editPage .editPage-box .editPage-container .input div p {
    margin-left: 0.25rem;
    height: 25px;
    width: 25px;
    font-size: 0.9rem;
  }
  .postpage .editPage .editPage-box .editPage-container .button button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .postpage .editPage .editPage-box .editPage-container .textarea textarea {
    font-size: 0.9rem;
  }
  .postpage .deletePage .deletePage-box .deletePage-container {
    width: 80%;
    height: 20vh;
    padding: 2rem 2rem;
  }
  .postpage .deletePage .deletePage-box .deletePage-container .delete h1 {
    text-align: center;
    font-size: 1rem;
    color: white;
  }
}/*# sourceMappingURL=style.css.map */